<h4> Enter your details for Registeration </h4>

{% for message in messages %}
<h5 style="color:red;"> {{message}} <h5>
{% endfor %}


<form method="POST" action="signup">
{% csrf_token %}
<label> Username:</label><br>
<input type="text" name="username" autocomplete="off"><br><br>
<label> Email:</label><br>
<input type="email" name="email" autocomplete="off"><br><br>
<label>Password:</label><br>
<input type="password" name="password"><br><br>
<label>Confirm Password:</label><br>
<input type="password" name="password2"><br><br>

<button>Register</button>
</form>